h1{
    color:white;
    font-size:50px;
    font-family: 'Poiret One', cursive;
    text-align: center;
    margin:0;
    padding:80px 0 80px 0;
}

p{
    text-align:center;
    color:white;
    letter-spacing: 2px;
}  footer{padding:20px 20px;     height:91px;    background-color:#4169E1;} .page{padding-bottom:500px;}
.bottom{
color:white;
  padding-bottom:15px;     letter-spacing: 1px;
}

.bottom2{
color:white;   padding-top:15px;      letter-spacing:1px;}   

a{color:white; 
}

html{
    background-color: white;
}

body{
width:100%;
  margin:0 auto;
   background-color: #6495ED;
}