html{
    background-color: white;
}

body{
    font-size:16px;   font-family: Arial, Helvetica, sans-serif; 
    width:100%;
    color:white;
    height:100%; margin:0 auto;
    background-color:rgb(156, 239, 245);
}

.page{
    color:rgb(50, 182, 32);
    padding-bottom:800px; 
    height:100%;
}

.bottom{
    float:right;       color:white;
    width:auto;  padding:20px;  text-align:center;  background-color:rgba(16, 32, 38, 0.6);  
    letter-spacing:1px;
}

.bottom2{
    float:right;
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    margin:0;
    padding:20px;
}

.bottom3{
    color:rgb(50,182,32);
    padding:50px 0 0 6%;
    letter-spacing:1px;
}

h1{
    background:linear-gradient(to top,rgba(91,6,189,0),rgba(255, 255, 255,0.6)60%);
    color:rgb(50, 182, 32);
    font-size:60px;
    font-family:'Maven Pro', cursive;
    font-weight: 300;
    margin:0;   padding:6px 40px;
    cursor: default;
}

h2{
    margin:40px 0;
    font-family: 'Maven Pro','SimHei', cursive;
    text-align: center;
}

p{  
    margin-left:41px;  
    letter-spacing:1px;
    font-size:1rem;
}  

h2 + p{
    margin:0;
    font-size:1rem;
    letter-spacing: 1px;
    text-align: center;
}

header{
    position:sticky;
    top:0;
}

footer{
    height:100%;   
    padding:150px 0 30px;
    background-image:url(../images/drizzle-footer.png);
    background-size:100% 100%;
    position:relative;
}   

input{
    height:2rem;    
    width:12rem;  
    background-color:transparent;   
    border:1px solid rgb(50,182,32);
    color:rgb(50,182,32);
    box-shadow: none;
}

input::placeholder{
    color:white;
}

button{
    border-radius:0px; height:2rem; width:70px;   
    margin-left:6px;
    background-color:transparent;    
    border:1px solid rgb(50,182,32); 
    color:rgb(50,182,32);
    cursor: pointer;
}       

a{
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

footer a{
    color:white;
    font-size:1rem;
}